/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* App container */
.App {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; /* Extra margin */
}

/* Header */
header {
  width: 100%;
  padding: 10px 0;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 8px 8px 0 0;
}

/* Main content */
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px 0;
}

/* Footer */
/* footer {
  width: 100%;
  padding: 10px 0;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 0 0 8px 8px;
} */

/* To-do list styles */
ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

.item {
  background-color: #e9e9e9;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.item input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.item label {
  flex-grow: 1;
  font-size: 1rem;
}

/* Add form styles */
.addForm, .searchForm {
  width: 100%;
  display: flex;
  justify-content: center; /* Centering the form */
  margin-bottom: 10px;
}

.addForm input[type="text"], .searchForm input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  text-align: center; /* Centering text in input */
}

button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

button:focus, button:hover {
  background-color: #45A049;
}

/* Additional styles */
.item svg {
  cursor: pointer;
  margin-left: 10px;
  color: #333;
}

.item svg:hover {
  color: red;
}

/* Empty state animation */
.todo-list:empty::before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-image: url('../public/11329060.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: shake 0.5s infinite alternate;
}

.todo-list:empty::after {
  content: 'Your to-do list is empty!';
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 1rem;
  color: #666;
}

/* Shake animation */
@keyframes shake {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}
